<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.autoforex.server</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ executable }}</string>
    <string>--config</string>
    <string>{{ configuration_file }}</string>
    <string>--env-file</string>
    <string>{{ environment_file }}</string>
  </array>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
